@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --deep-background:#12141a;
  --complement-color: #65D46E;
  --root-txt-color:#8A92AD;
  --vibrant-txt-color: #CED6F3;
  --dim-root-txt-color:#63697c;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--deep-background);
}

.btn-one {
  background-color: var(--deep-background);
  color: white;
  border: 0.5px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.9rem;
  transition: all ease-in-out 0.5s;
}
.btn-one i {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.btn-one:hover {
  background-color: var(--complement-color);
  color: white;
  border: none;
}
.btn-one:hover i {
  transform: translate(3px, -3px);
}

.btn-two {
  background-color: var(--deep-background);
  color: var(--vibrant-txt-color);
  border: 0.5px solid var(--vibrant-txt-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  border: none;
}
.btn-two i {
  font-size: 0.9rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease; /* Add smooth transition */
}

.btn-two:hover {
  background-color: var(--complement-color);
  color: var(--deep-background);
  scale: 1.05;
}
.btn-two:hover i {
  transform: translate(0px, 3px);
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .section-body {
  width: 90%;
  max-width: 1200px;
  min-height: 60vh;
}

.circle-sm {
  width: 10px;
  height: 10px;
  background-color: var(--complement-color);
  border-radius: 50%;
}

.square-sm {
  width: 10px;
  height: 10px;
  background-color: var(--complement-color);
}

.line {
  width: 80%;
  max-width: 300px;
  height: 0.1px;
  background-color: var(--root-txt-color);
}

.nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 50px;
}
.nav-section .left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-section .left-nav svg {
  width: 30px;
  fill: var(--vibrant-txt-color);
  transition: all ease-in-out 0.5s;
}
.nav-section .left-nav svg:hover {
  fill: var(--complement-color);
  scale: 1.5;
}
.nav-section .left-nav .mobile {
  display: none;
}
.nav-section .left-nav .mobile i {
  font-size: 1.5rem;
  color: var(--complement-color);
}
.nav-section .left-nav .nav {
  margin-left: 80px;
}
.nav-section .left-nav .nav .close-nav {
  display: none;
  color: var(--complement-color);
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
}
.nav-section .left-nav .nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-section .left-nav .nav ul .mobile-resume {
  display: none;
}
.nav-section .left-nav .nav ul li {
  list-style-type: none;
  margin: 0 0.9rem;
}
.nav-section .left-nav .nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
.nav-section .left-nav .nav ul li a:hover {
  color: var(--complement-color);
  transition: all ease-in-out 0.5s;
}
.nav-section .left-nav .nav ul li.active {
  list-style-type: disc;
}
.nav-section .left-nav .nav ul li::marker {
  color: var(--complement-color);
  font-size: 0.9rem;
}

.introduction-section {
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.introduction-section .txt-greeting {
  color: var(--complement-color);
}
.introduction-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--vibrant-txt-color);
}
.introduction-section h2 {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--root-txt-color);
}
.introduction-section .txt-speech {
  margin-top: 30px;
  width: 90%;
  max-width: 700px;
  color: var(--root-txt-color);
  font-size: 0.9rem;
  line-height: 1.7;
}
.introduction-section .connect-list {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.introduction-section .connect-list i {
  color: var(--root-txt-color);
  font-size: 2rem;
  margin: 0 0.9rem;
  transition: transform 0.3s ease; /* Add smooth transition */
  transition: all ease-in-out 0.3s;
}
.introduction-section .connect-list i:hover {
  transform: translate(0px, -3px);
  scale: 1.2;
  color: var(--complement-color);
}

.about-section {
  margin-top: 70px;
}
.about-section .about-section-body {
  padding: 0 100px;
}
.about-section .about-section-body .about-section-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.about-section .about-section-body .about-section-header .section-name {
  color: var(--vibrant-txt-color);
  font-size: 1.2rem;
  margin-left: 0.9rem;
}
.about-section .about-section-body .about-section-header .line {
  margin-left: 0.9rem;
}
.about-section .about-section-body .about-section-content .content-intro {
  color: var(--root-txt-color);
  margin-top: 0.4rem;
  font-size: 1.5rem;
}
.about-section .about-section-body .about-section-content .content-content {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.about-section .about-section-body .about-section-content .content-content .hero-image {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: #3C8399;
  border-radius: 5px;
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
}
.about-section .about-section-body .about-section-content .content-content .hero-image:hover {
  filter: grayscale(0);
}
.about-section .about-section-body .about-section-content .content-content .right-content {
  display: flex;
  flex-direction: column;
  margin-left: 0.9rem;
}
.about-section .about-section-body .about-section-content .content-content .right-content p {
  max-width: 600px;
  color: var(--root-txt-color);
  font-size: 1rem;
  line-height: 1.8;
}
.about-section .about-section-body .about-section-content .content-content .right-content p span {
  color: var(--complement-color);
}
.about-section .about-section-body .about-section-content .content-content .right-content .technologies-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.about-section .about-section-body .about-section-content .content-content .right-content .technologies-intro p {
  margin-left: 0.9rem;
}
.about-section .about-section-body .about-section-content .content-content .right-content .technologies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}
.about-section .about-section-body .about-section-content .content-content .right-content .technologies .technology {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 7.5px;
}
.about-section .about-section-body .about-section-content .content-content .right-content .technologies .technology img {
  width: 20px;
  height: 20px;
}
.about-section .about-section-body .about-section-content .content-content .right-content .technologies .technology p {
  margin-left: 0.9rem;
  font-size: 0.9rem;
}

@media screen and (max-width: 1080px) {
  .nav-section {
    padding: 1.5rem 40px;
  }
}
@media screen and (max-width: 610px) {
  .nav-section {
    padding: 1.5rem 30px;
  }
  .nav-section .left-nav {
    width: 100%;
    justify-content: space-between;
  }
  .nav-section .left-nav .mobile {
    display: block;
  }
  .nav-section .left-nav .nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -700px;
    transition: right ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-background);
    z-index: 999;
  }
  .nav-section .left-nav .nav .close-nav {
    display: block;
  }
  .nav-section .left-nav .nav ul {
    flex-direction: column;
    background-color: var(--deep-background);
  }
  .nav-section .left-nav .nav ul li {
    margin-top: 2rem;
  }
  .nav-section .left-nav .nav ul .mobile-resume {
    display: block;
    margin-top: 100px;
  }
  .nav-section .left-nav .nav.visible {
    position: fixed;
    top: 0;
    right: 0;
    margin-left: 0;
  }
  .nav-section .right-nav {
    display: none;
  }
  .blurrable.blurred {
    filter: blur(5px);
  }
}
@media screen and (max-width: 382px) {
  .nav-section {
    padding: 1.5rem 20px;
  }
  .introduction-section {
    margin-top: 35px;
  }
  .introduction-section h1 {
    font-size: 3rem;
  }
  .introduction-section h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 330px) {
  .nav-section {
    padding: 1.5rem 20px;
  }
  .introduction-section h1 {
    font-size: 2.5rem;
  }
  .introduction-section h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .about-section .about-section-body {
    padding: 80px;
  }
}
@media screen and (max-width: 900px) {
  .about-section .about-section-body {
    padding: 60px;
  }
}
@media screen and (max-width: 650px) {
  .about-section .about-section-body {
    padding: 0px;
  }
  .about-section .about-section-content .content-content {
    display: flex;
    flex-direction: column !important;
  }
  .about-section .about-section-content .content-content .right-content {
    margin-left: 0 !important;
    margin-top: 10px;
  }
}
@media screen and (max-width: 800px) {
  .about-section .about-section-body {
    padding: 0px;
  }
}/*# sourceMappingURL=style.css.map */