
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --deep-background:#12141A;
    --complement-color: #65D46E;
    --root-txt-color:#8A92AD;
}

body{
    font-family: 'Inter', sans-serif;
}

body{
   
    background-color: var(--deep-background);
}

.btn-one{
    background-color: var(--deep-background);
    color: white;
    border: 0.5px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.9rem;
    transition: all ease-in-out 0.5s;
    

    i{
        font-size: 0.9rem;
        margin-left: 0.5rem;
        transition: transform 0.3s ease; /* Add smooth transition */

    }
}

.btn-one:hover{
    background-color: var(--complement-color);
    color: white;
    border: none;

    i{
        transform: translate(3px, -3px);
    }
}

.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-body{
        width: 90%;
        max-width: 1200px;
        min-height: 60vh;
    }
}



