
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


:root{
    --deep-background:#12141a;
    --complement-color: #65D46E;
    --root-txt-color:#8A92AD;
    --vibrant-txt-color: #CED6F3;

    --dim-root-txt-color:#63697c;

}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--deep-background);

}


.btn-one{
    background-color: var(--deep-background);
    color: white;
    border: 0.5px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.9rem;
    transition: all ease-in-out 0.5s;
    

    i{
        font-size: 0.9rem;
        margin-left: 0.5rem;
        transition: transform 0.3s ease; /* Add smooth transition */

    }
}

.btn-one:hover{
    background-color: var(--complement-color);
    color: white;
    border: none;

    i{
        transform: translate(3px, -3px);
    }

}


.btn-two{
    background-color: var(--deep-background);
    color: var(--vibrant-txt-color);
    border: 0.5px solid var(--vibrant-txt-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    border: none;
    
    i{
        font-size: 0.9rem;
        margin-left: 0.5rem;
        transition: transform 0.3s ease; /* Add smooth transition */
    }
}

.btn-two:hover{
    background-color: var(--complement-color);
    color: var(--deep-background);
    scale: 1.05;
    i{
        transform: translate(0px, 3px);
    }
}


.section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-body{
        width: 90%;
        max-width: 1200px;
        min-height: 60vh;
    }
}


.circle-sm{
    width: 10px;
    height: 10px;
    background-color: var(--complement-color);
    border-radius: 50%;
}

.circle-sm-bg-1{
    @extend .circle-sm;
    background-color: #B85A8A;
}

.circle-sm-bg-2{
    @extend .circle-sm;
    background-color: #523E78;
}

.circle-sm-bg-3{
    @extend .circle-sm;
    background-color: #D25735;
}

.circle-sm-bg-4{
    @extend .circle-sm;
    background-color: #EEE170;
}


.square-sm{
    width: 10px;
    height: 10px;
    background-color: var(--complement-color);
}

.line{
    width: 80%;
    max-width: 300px;
    height: 0.1rem;
    background-color: var(--root-txt-color);
}

.middle-section-body{
    padding: 0 100px;

}

.section-line-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .section-name{
        color: var(--vibrant-txt-color);
        font-size: 1.2rem;
        margin-left: 0.9rem;
    }

    .line{
        margin-left: 0.9rem;
    }
}

.right-section-header{
    @extend .section-line-header;
    justify-content: flex-end;
}

.middle-section-header{
    @extend .section-line-header;
    justify-content: center;
}

.left-section-header{
    @extend .section-line-header;
    justify-content: flex-start;
}